<menu class="social-media-share">
    <a href="http://www.twitter.com/austentalbot" class="icon-twitter" rel="external" title="My Twitter"></a>
    <a href="http://www.linkedin.com/in/austentalbot" class="icon-linkedin" rel="external" title="My LinkedIn"></a>
    <a href="http://www.github.com/austentalbot" class="icon-github" rel="external" title="My GitHub"></a>
    <a href="mailto:austentalbot@gmail.com" class="icon-mail" rel="external" title="My Mail"></a>
    <a href="http://www.austentalbot.com/rss" class="icon-feed" rel="external" title="My RSS Feed"></a>
</menu>